
$deep-red: #A03838;
$blue: #1B4D6D;
$off-white: #f7f7f7;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Fonts
$roboto: 'Roboto', sans-serif;

// Break Points

$break-small: 375px;
$break-medium: 765px;
$break-large: 1024px;


@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-medium + 1) { @content; }
  }
  @else if $media == large-screens { 
    @media only screen and (min-width: $break-large) { @content; }
  }
}


// ===== BASE STYLES =====


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $roboto;
  font-size: $m-size;
  line-height: 1.6;
  color: $blue;
  border-top: 4px solid #0573B3;
}

ul {
  list-style: none;
  padding: 0;
}

.section-container {
  max-width: 1024px;
  margin: 0 auto;
}

.img-link {
  display: block;
  width: 100%;
  height: 100%;
}


// ===== NAV =====

nav {
  display: flex;
  justify-content: space-between;
  margin: 2% 5%;

  .headshot-container {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;

    #headshot {
      height: 100%;
      width: 100%;
      background: url(../assets/headshot.jpg) 80% 5%;
      background-size: cover;
      background-size: 130%;
    }
    
  }
  
  .nav-links{
    font-size: 1.5rem;
    display: flex;
  
    @include respond-to(medium-screens){
      font-size: 1.9rem;
    }
  
    a {
      text-decoration: none;
      margin: 0 $m-size;
    }
  }
}




// ===== HEADER =====

header {
  font-family: $roboto;
  width: 100vw;
  opacity: 1;

  .hero {

    width: 80%; 
    margin: 10% auto;

    h1 {
      font-weight: 300;
      font-size: 20px;
      margin: 0;
  
      @include respond-to(medium-screens){
        font-size: 4rem;
        
      }
    }

    ul { 
      margin: 0;
    }
  
    .music-word {
      font-size: 20px;
      display: flex;
      @include respond-to(medium-screens) {
        font-size: 30px; 
      }
      .iAm {
        width: 153px;
  
        @include respond-to(medium-screens){
          right: 70px;
        }
      }
      .word {
        width: 50px;
  
        @include respond-to(medium-screens){
          right: 40px;
        }
      }
      .musician-word {
        display: none;
      }
      .developer-word {
        display: none;
      }
      .none{
        display: none
      }
    }
    p {
      display: block;
      width: 50%;
      margin-top: 1%;
      font-size: 2rem;
    }

    button {
      margin-top: 5%;
      width: 25%;
      padding: 1.5%;
      border-radius: 1%;
      background-color: #FA9F26;
      color: #FFF8D7;
      font-size: 1.6rem;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
}



// ===== MAIN =====

.main {
  background-color: #FAFCFF;
  margin-top: 5%;
  position: relative;
  overflow: hidden;

  p {
    margin: 4% 0;
    line-height: 180%;
  }

  .container {
    margin: 2% auto;
    padding: 2%;
    max-width: 1000px;
  }

  .about {
    width: 80%;

    @include respond-to(medium-screens) {
      width: 60%;
    }
  }

  a {
    color: $blue;
    margin: 0 5px;
  }

}

// ===== PROJECTS =====


.projects {

  margin-top: 10%; 

  @include respond-to(large-screens) { margin-top: 0; }

  .section-header {
    font-size: 20px;
    letter-spacing: 1px;
    &::after {
      content: '';
      border: 2px solid blue;
      width: 12px;
      height: 3px;
    }
  }

  .title {
    font-size: 160%;
    margin-left: 5%;
  }

  .github-link {
    display: block;
    margin: 4% 0; 
  }

  .container {
    display: flex;
    justify-content: space-around;

    @include respond-to(medium-screens) { 
      max-height: 600px;
    } 
  }

  .img-container {
    width: 40%;
    height: 12em;
    margin-top: 4%;
    border-radius: 4%;
    overflow: hidden;

    .img-link {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    #music-test-img {
      background: url(../assets/sheetmusic.jpg);
      background-size: cover;
    }

    #inventory-img {
      background: url(../assets/inventory-photo.jpg);
      background-size: cover;
    }

    #breach-img {
      background: url(../assets/matrix-laptop.jpeg) 30%;
      background-size: cover;
    }


  }
  

  .project-info {
    width: 40%;
    .description {
      @include respond-to(large-screens) {}

      a {
        cursor: pointer;
      }

      a svg {
        margin-right: 10px;
        height: 25px;
        width: 25px;
      }
    }
  }

  hr {
    width: 50%;
    margin: 15% auto;

    @include respond-to(medium-screens){
      margin: 10% auto;
    }
  }
}


// ===== CONTACT =====

.contact {
  margin: 10% 0;

  .contact-links {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 10% auto;
    justify-content: space-around;
    
    li {
      padding: 0% 6%;
    }

    a svg {
      height: 30px;
      width: 30px;
    }
  }
}


// ===== FOOTER =====

footer {
  color: $off-white;
  background-color: $blue;
  font-size: 1.3rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    display: inline-block;
  }
}