* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #1B4D6D;
  border-top: 4px solid #0573B3;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.section-header {
  color: #A03838;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2% 5%;
}

nav .headshot-container {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: pink;
  overflow: hidden;
}

nav .headshot-container a {
  display: block;
  width: 100%;
  height: 100%;
}

nav .headshot-container #headshot {
  height: 100%;
  width: 100%;
  background: url(../assets/headshot.jpg) 70% 5%;
  background-size: cover;
  background-size: 130%;
}

nav .nav-links {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 766px) {
  nav .nav-links {
    font-size: 1.9rem;
  }
}

nav .nav-links a {
  text-decoration: none;
  margin: 0 1.6rem;
}

header {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  opacity: 1;
}

header .hero {
  width: 80%;
  margin: 10% auto;
}

header .hero h1 {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}

@media only screen and (min-width: 766px) {
  header .hero h1 {
    font-size: 4rem;
  }
}

header .hero ul {
  margin: 0;
}

header .hero .music-word {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 766px) {
  header .hero .music-word {
    font-size: 30px;
  }
}

header .hero .music-word .iAm {
  width: 153px;
}

@media only screen and (min-width: 766px) {
  header .hero .music-word .iAm {
    right: 70px;
  }
}

header .hero .music-word .word {
  width: 50px;
}

@media only screen and (min-width: 766px) {
  header .hero .music-word .word {
    right: 40px;
  }
}

header .hero .music-word .musician-word {
  display: none;
}

header .hero .music-word .developer-word {
  display: none;
}

header .hero .music-word .none {
  display: none;
}

header .hero p {
  display: block;
  width: 50%;
  margin-top: 1%;
  font-size: 2rem;
}

header .hero button {
  margin-top: 5%;
  width: 25%;
  padding: 1.5%;
  border-radius: 1%;
  background-color: #FA9F26;
  color: #FFF8D7;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.main {
  background-color: #FAFCFF;
  margin-top: 5%;
  position: relative;
  overflow: hidden;
}

.main .section-header {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  opacity: 0.5;
  margin-left: 3%;
}

.main p {
  margin: 4% 0;
  line-height: 180%;
}

.main .container {
  margin: 2% auto;
  padding: 2%;
  max-width: 1000px;
}

.main .about {
  width: 80%;
}

@media only screen and (min-width: 766px) {
  .main .about {
    width: 60%;
  }
}

.main a {
  color: #1B4D6D;
  margin: 0 5px;
}

.projects {
  margin-top: 10%;
}

@media only screen and (min-width: 1024px) {
  .projects {
    margin-top: 0;
  }
}

.projects .section-header {
  opacity: 0.5;
  margin-left: 3%;
}

.projects .title {
  font-size: 160%;
  margin-left: 5%;
}

.projects .github-link {
  display: block;
  margin: 4% 0;
}

@media only screen and (min-width: 766px) {
  .projects .music-test {
    max-height: 600px;
  }
}

.projects .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects .project-info .description {
  width: 100%;
  max-width: 425px;
  padding: 2%;
}

@media only screen and (min-width: 1024px) {
  .projects .project-info .description {
    width: 50%;
  }
}

.projects .project-info .description a {
  cursor: pointer;
}

.projects .project-info .description a svg {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.projects .project-info .display-img {
  display: block;
  margin: 15% auto;
  width: 30%;
  height: 30%;
  min-width: 300px;
}

@media only screen and (max-width: 375px) {
  .projects .project-info .display-img {
    padding: 1%;
  }
}

@media only screen and (min-width: 766px) {
  .projects .project-info .display-img {
    width: 40%;
    margin: 0;
  }
}

.projects .project-info #phone-img {
  padding: 0;
  margin: 5% auto;
  min-width: 275px;
  width: 30%;
}

@media only screen and (min-width: 766px) {
  .projects .project-info #phone-img {
    width: 40%;
    max-width: 300px;
    margin: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.projects hr {
  width: 50%;
  margin: 15% auto;
}

@media only screen and (min-width: 766px) {
  .projects hr {
    margin: 10% auto;
  }
}

.contact {
  margin: 10% 0;
}

.contact .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 700px;
  margin: 10% auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .contact-links li {
  padding: 0% 6%;
}

.contact .contact-links a svg {
  height: 30px;
  width: 30px;
}

footer {
  color: #f7f7f7;
  background-color: #1B4D6D;
  font-size: 1.3rem;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */