* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: $off-white;
  font-family: $maven-pro;
  font-size: $m-size;
  line-height: 1.6;
  color: $blue;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  max-width: 1024px;
  margin: 0 auto;
}

.section-header {
  color: $deep-red;
}

.nav-links{
  margin: 5% auto;
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: $deep-red;
  }
}

.main {
  margin-top: 5%;
  position: relative;
  overflow: hidden;

  .section-header {
    font-size: 32px;
    font-family: $overpass;
    font-weight: 100;
    opacity: 0.5;
    margin-left: 3%;
    
  }

  p {
    margin: 4% 0;
    line-height: 180%;
  }

  .container {
    margin: 2% auto;
    padding: 2%;
    max-width: 1000px;
  }

  .about {
    width: 80%;

    @include respond-to(medium-screens) {
      width: 60%;
    }
  }

}
